<header>
	<h2>Site name</h2>
	<nav>
		<ul>
			<li>Home</li>
			<li>All Games</li>
			<li>All Genres</li>
			<li>All Platforms</li>
			<li>All Developers</li>
		</ul>
		<p>some kind of search thing heres</p>
	</nav>
</header>
