<nav>
	<h2>logo here</h2>
	<form action="/search" method="get">
		<label for="search"></label>
		<input type="text" name="search" id="search" />
		<button type="submit">Search</button>
	</form>
</nav>
