<header>
	<h2>Site name</h2>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/games">All Games</a></li>
			<li><a href="/genres">All Genres</a></li>
			<li><a href="/developers">All Developers</a></li>
			<li><a href="/new/game">Add Game</a></li>
		</ul>
		<form action="/search" method="GET">
			<label for="radGame">Game</label>
			<input
				type="radio"
				name="searchTable"
				id="radGame"
				value="game"
				checked="checked"
			/>
			<label for="radDev">Developer</label>
			<input type="radio" name="searchTable" id="radDev" value="developer" />
			<label for="radGenre">Genre</label>
			<input type="radio" name="searchTable" id="radGenre" value="genre" />
			<label for="searchTerm"></label>
			<input type="text" name="searchTerm" id="searchTerm" />
			<input type="submit" value="Search" />
		</form>
	</nav>
</header>
