<header>
	<nav>
		<h1>GameDB</h1>
		<ul id="navLinks">
			<li><a href="/">Home</a></li>
			<li><a href="/games">All Games</a></li>
			<li><a href="/genres">All Genres</a></li>
			<li><a href="/developers">All Developers</a></li>
			<li><a href="/new/game">Add Game</a></li>
		</ul>
		<form id="search" action="/search" method="GET">
			<div id="searchContainer">
				<label for="searchTerm"></label>
				<input
					type="text"
					name="searchTerm"
					id="searchTerm"
					placeholder="Search for Game, Developer or Genre"
				/>
				<button type="submit" id="searchSubmit">
					<img class="icon" src="/magnify.svg" alt="" />
				</button>
			</div>
			<div id="radioBtns">
				Search in:
				<label for="radGame">Games</label>
				<input
					type="radio"
					name="searchTable"
					id="radGame"
					value="game"
					checked="checked"
				/>

				<label for="radDev">Developers</label>
				<input type="radio" name="searchTable" id="radDev" value="developer" />
				<label for="radGenre">Genres</label>
				<input type="radio" name="searchTable" id="radGenre" value="genre" />
			</div>
		</form>
	</nav>
</header>
