<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%=title %></title>
	</head>
	<%- include('./partials/nav') %>
	<body>
		<form method="POST" action="/new">
			<label for="gameName">Name: </label>
			<input type="text" name="gameName" id="gameName" />

			<label for="developer">Developer: </label>
			<input type="text" name="developer" id="developer" />

			<label for="releaseDate">Release Date: </label>
			<input type="date" name="releaseDate" id="releaseDate" />

			<label for="genre">Genre: </label>
			<input type="text" name="genre" id="genre" />

			<input type="submit" name="submitBtn" value="Add <%-item %>" />
		</form>
	</body>
</html>
