<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%=title %></title>
	</head>
	<%- include('./partials/nav') %>
	<body>
		<form method="POST" action="/new/">
			<% switch (item) { case 'game': %>
			<label for="gameName">Name: </label>
			<input type="text" name="gameName" id="gameName" />
			<label for="platform">Platform: </label>
			<select name="platform" id="platform">
				<option value="1">Xbox</option>
				<option value="2">Playstation</option>
				<option value="3">Nintendo Switch</option>
				<option value="4">PC</option>
			</select>
			<label for="developer">Developer: </label>
			<select name="developer" id="developer">
				<option value="1">Naughty Dog</option>
				<option value="2">Nintendo</option>
				<option value="3">Rockstar Games</option>
				<option value="4">FromSoftware</option>
			</select>
			<label for="releaseDate">Release Date: </label>
			<input type="date" name="releaseDate" id="releaseDate" />
			<label for="genre">Genre: </label>
			<select name="genre" id="genre">
				<option value="1">Horror</option>
				<option value="2">Platformer</option>
				<option value="3">FPS</option>
				<option value="4">RPG</option>
			</select>
			<% break; case 'genre': %>
			<label for="genre">Genre: </label>
			<input type="text" name="genre" id="genre" />
			<% break; case 'developer': %>
			<label for="developer">Developer Name: </label>
			<input type="text" name="developer" id="developer" />
			<% break; case 'platform': %>
			<h1>Platform</h1>
			<% break;}%>

			<button type="submit">Add <%-item %></button>
		</form>
	</body>
</html>
