<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%=title %></title>
	</head>
	<%- include('./partials/nav') %>
	<body>
		<h1>links view categories and add new items page</h1>
	</body>
</html>
