/* GLOBAL */

:root {
	--background-color-lighter: #575757;
	--background-color-light: #3f3f3f;
	--background-color-dark: #282828;
	--offWhite: #ecf0f1;
	--primary-tint: #623fe4;
	--border: #959491;
}

* {
	box-sizing: border-box;
}
.icon {
	height: auto;
	width: 25px;
}
body,
html {
	height: 100%;
	margin: 0;
	color: var(--offWhite);
	background-color: var(--background-color-light);
	font-family: "Roboto", serif;
}

a {
	text-decoration: none;
	color: var(--offWhite);
}

a:hover {
	color: var(--primary-tint);
}

button,
input[type="submit"] {
	background-color: var(--background-color-light);
	color: var(--offWhite);
	border-radius: 5px;
	padding: 0.5rem;
	border: var(--border) 1px solid;
	cursor: pointer;
}

button:hover {
	background-color: #d9d7ef;
}

button:active {
	transform: scale(0.9);
}

/* GLOBAL END */

/* NAV BAR */

#navLinks,
#search,
#searchSubmit {
	display: flex;
}

nav {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	justify-items: center;
	background-color: var(--background-color-dark);
	padding: 0.5rem;
	box-shadow: 0px 2px 10px var(--background-color-dark);
}

#navLinks {
	list-style: none;
	gap: 1rem;
}
#search {
	flex-direction: column;
	align-items: end;
	gap: 0.5rem;
}

#search,
#searchTerm {
	width: 100%;
}
#searchContainer {
	width: 90%;
}

#searchTerm {
	border-radius: 15px;
	padding: 0.5rem;
	border: var(--border) solid 2px;
}

#searchTerm:focus {
	outline-width: 0;
	border: var(--primary-tint) solid 2px;
}

#searchContainer {
	position: relative;
}

#searchSubmit {
	align-items: center;
	position: absolute;
	justify-content: center;
	border: none;
	background-color: #ffffff00;
	height: 100%;
	width: 50px;
	padding: 0;
	right: 0;
	bottom: 0;
}

/* NAV BAR END*/

/* HOME */
.contentContainer,
.gamecontentContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding: 2rem;
}

.cardContainer,
.gameCardContainer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	width: 100%;
	gap: 2rem;
	height: 100%;
}

.cardImg,
.cardImgAdd {
	border-radius: 10px;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.cardImgAdd {
	object-fit: contain;
}
.card,
.gameCard {
	position: relative;
	padding: 1rem;
	border-radius: 10px;
	border: var(--background-color-dark) solid 1px;
	background-color: var(--background-color-lighter);
	box-shadow: 2px 5px 3px var(--background-color-dark);
}

.cardText {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
	position: absolute;
	margin: 0;
	bottom: 0;
	right: 0;
	background: radial-gradient(circle, #000000bd, #000000);
	color: var(--primary-tint);
	width: 100%;
	height: 100%;
	opacity: 50%;
	border-radius: 10px;
}

.cardText:hover {
	animation: fade 0.5s ease-in-out 0s forwards;
}

.imgContainer {
	display: flex;
	justify-content: center;
	height: 100%;
	border: red solid;
}
.imgContainer img {
	height: auto;
	width: 100%;
}

@keyframes fade {
	from {
		opacity: 50%;
	}

	to {
		opacity: 100%;
	}
}

/* HOME END */

/* FORM */
.formContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

#addGameForm {
	display: flex;
	flex-direction: column;
	width: 25%;
	min-width: 300px;
	gap: 1rem;
	padding: 2rem;
	box-shadow: 2px 5px 3px var(--background-color-dark);
	border-radius: 5px;
	background-color: var(--background-color-lighter);
}

/* FORM END */

/* ALL GAMES */
.gameCardContainer {
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.gameCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	max-height: 400px;
}

.gamecontentContainer {
	align-items: flex-start;
	justify-content: flex-start;
}

/* ALL GAMES END */
